app2/node_modules/
app2/build/

my-app/node_modules/
my-app/build/

my-app1/node_modules/
my-app1/build/

projects/node_modules/
projects/build/

projects_3/node_modules/

projects_3/build/

website-thapa/node_modules/
website-thapa/build/